* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;;
    font-weight: 300;
    color: #4a525d;
    font-size: medium;
    height: 100%;
}

h1, h2, h3, h4{
    margin-top: 20px;
}

a{
    text-decoration: none;
    color: #A668D5;
    border-bottom: 1px solid #A668D5;
}

ul{
    margin-left: 30px;
}

p{
    margin-bottom: 20px;
}


a:hover{
    border-bottom: 1px solid #fff;
}

.center{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    height: 100vh;
}

.footer{
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-top: 10px solid #bec8fd;
    color:#2E3983;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form .header{
    font-size: larger;
    font-weight: 600;
    margin-bottom: 20px;
}

.form .note{
    color: #f00;
}

.form .fields .field{
    display: flex;
    justify-content:  flex-end;
    margin: 20px 0;
}

.form .fields .field .name{
    font-weight: 600;
}

.form .fields input[type=submit]{
    background-color: #660BAB;
    color: #fff;
    padding: 10px 30px;
    outline: none;
    border: 0;
    font-weight: 600;
    cursor: pointer;
}

.form .fields input[type=submit]:hover{
    background-color: #FFF700;
    color: #660BAB;
}

.form .fields input[type=text], input[type=password]{
    padding: 10px;
    width: 300px;
    margin-left: 20px;
    outline: none;
}

.form .fields label{
    display: flex;
    justify-content: flex-end;
}

.content{
    display: flex;
    flex-direction: column;
    flex-basis: 1200px;
    padding: 20px;
}

.content .top{
    display: flex;
    justify-content: space-between;
}

.content .top .header{
    margin-bottom: 30px;
    font-weight: 600;
    font-size: x-large;
}

.content .auth{
    display: flex;
    justify-content: flex-end;
}

.content .auth div{
    margin-left: 10px;
    margin-right: 10px;
}

.content .tabs .tabs-header{
    display: flex;
}

.content .tabs .tabs-header .tab-header{
    z-index: 3;
}

.content .tabs .tabs-header .tab-header a{
    margin-right: 10px;
    padding: 20px 30px;
    border-bottom: none;
    background-color: #A668D5;
    color: #fff;
}



.content .tabs .tabs-header .tab-header a:hover{
    background-color: #FFF700;
    color: #41046F;
}

.content .tabs .tabs-header .tab-header .active-tab{
    background-color: #FFF700;
    color: #41046F;
}

.content .tabs .tabs-content{
    padding-top: 20px;
    background-color: #fff;
    border-top: 10px solid #FFF700;
    margin-top: 19.8px;
}

.content table {
    margin-top: 20px;
    border-spacing: 0;
    border-collapse: collapse;
}

.content .data{
    overflow: auto;
}

.content table td, .content table th{
    border: 1px solid #cecece;
    padding: 10px;
}

.content table th{
    background-color: #f2f4fc;
}

a.img{
    border-bottom: none;
}

img.icon{
    width: 24px;
    height: 24px;
}

.content .form-editor{
    padding: 20px 30px;
    background-color: #fdfdf8;
    margin-top: 20px;
    border: 1px dotted #cecece;
}

.content .form-editor p{
    padding: 20px 0;
}

.content .form-editor .note{
    color: #f00;
    font-size: larger;
    padding: 10px 0;
}

.content .form-editor .row{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.content .form-editor input[type=text]{
    padding: 10px 20px;
    outline: none;
    border: 1px solid #cecece;
    width: 100%;
}

.content .form-editor input[type=text]:focus{
    border: 1px solid #A668D5;
}

.content .form-editor input[type=submit]{
    background-color: #660BAB;
    color: #fff;
    padding: 10px 30px;
    outline: none;
    border: 0;
    font-weight: 600;
    cursor: pointer;
}

.content .form-editor input[type=submit]:hover{
    background-color: #FFF700;
    color: #660BAB;
}

.content .form-editor .row .name{
    width: 200px;
    flex-grow: 1;
}

.content .form-editor .row .value{
    display: flex;
    flex-grow: 20;
    flex-wrap: wrap;
}

.content .form-editor .row .editor{
    width: 100%;
}

.content .form-editor .row .right{
    justify-content: flex-end;
}

.content .red{
     color: #f00;
}

.content .green{
    color: green;
}

.content .form-editor .row select{
    padding: 10px;
    outline: none;
    border: 1px solid #cecece;
}

.content .form-editor .row select:focus{
    border: 1px solid #A668D5;
}

.content .info{
    margin: 20px 0;
}

.content .form-editor .value .checkbox{
    margin-left: 30px;
    margin-top: 10px;
}

.content .tab-content .thumb{
    max-width: 150px;
}

.nowrap{
    display: flex;
}
.nowrap a:first-child{
    margin-right: 10px;
}
.nowrap a:last-child{
    margin-left: 10px;
}


.navigate {
    display: flex;
    margin: 40px 0;
}

.navigate div{
    margin-right: 10px;
}

.navigate .item a{
    padding: 10px 20px;
    border: 1px solid #A668D5;
}

.navigate .active a{
    padding: 10px 20px;
    background-color: #A668D5;
    border: 1px solid #A668D5;
    color: #fff;
}

.navigate .item a:hover{
    border: 1px solid #41046F;
}

.folders{
    padding-left: 20px;
}

.folders .folder img{
    margin-right: 10px;
}

.folders .folder {
    display: flex;
}