Options +FollowSymLinks
RewriteEngine On

RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

Order deny,allow
deny from all
# Список IP через пробел, с которых доступ разрешен
Allow from 82.193.140.174