<div class="edit-frame">
    <div class="data">
        <table>
            <tbody>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Ссылка</th>
                <th>Модуль</th>
                <th>Действия</th>
            </tr>
            <?=$out;?>
            </tbody>
        </table>
    </div>
    <div class="form-editor">
        <a name="edit"></a>
        <h3><?=$action;?></h3>
        <p><span class="red">*</span> - обязательные для заполнения поля</p>
        <form method="post" name="edit" enctype="multipart/form-data">
            <div class="row">
                <div class="name">Название <span class="red">*</span></div>
                <label class="value">
                    <input type="text" name="name" placeholder="Введите название категории" required value="<?=$name;?>"/>
                </label>
            </div>
            <div class="row">
                <div class="name">Ссылка <span class="red">*</span></div>
                <label class="value">
                    <input type="text" name="link" placeholder="Введите ссылку на категорию" required value="<?=$link;?>"/>
                </label>
            </div>
            <div class="row">
                <label class="value right">
                    <input type="submit" value="Отправить" class="" name="submit" />
                </label>
            </div>
        </form>
    </div>
</div>
<?=$save;?>