<div class="data">
    <table>
        <tbody>
        <tr>
            <th>ID</th>
            <th>Название проекта</th>
            <th>Ссылка</th>
            <th>Дата публикации</th>
            <th>Главная картинка</th>
            <th>Title</th>
            <th>Ссылка на GitHub</th>
            <th>Технологии</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
        <?=$out;?>
        </tbody>
    </table>
</div>
<a name="edit"></a>
<div class="form-editor">
    <h3><?=$action;?></h3>
    <p><span class="red">*</span> - обязательные для заполнения поля</p>
    <form method="post" name="edit" enctype="multipart/form-data">
        <div class="row">
            <div class="name">Название <span class="red">*</span></div>
            <label class="value">
                <input type="text" name="name" placeholder="Введите название работы" required value="<?=$name;?>"/>
            </label>
        </div>
        <div class="row">
            <div class="name">Ссылка <span class="red">*</span></div>
            <label class="value">
                <input type="text" name="link" placeholder="Введите текст ссылки" required value="<?=$link;?>"/>
            </label>
        </div>
        <div class="row">
            <div class="name">Картинка</div>
            <label class="value">
                <input type="text" name="picture" placeholder="Введите адрес главной картинки" value="<?=$picture;?>"/>
            </label>
        </div>
        <div class="row">
            <div class="name">Title</div>
            <label class="value">
                <input type="text" name="title" placeholder="Введите title" value="<?=$title;?>"/>
            </label>
        </div>
        <div class="row">
            <div class="name">Description</div>
            <label class="value">
                <input type="text" name="description" placeholder="Введите description" value="<?=$description;?>"/>
            </label>
        </div>
        <div class="row">
            <div class="name">Анонс</div>
            <label class="value">
                <input type="text" name="anons" placeholder="Введите анонс" value="<?=$anons;?>"/>
            </label>
        </div>
        <div class="row">
            <div class="name">Ссылка на Github</div>
            <label class="value">
                <input type="text" name="github" placeholder="Введите ссылку на Github" value="<?=$github;?>"/>
            </label>
        </div>
        <div class="row">
            <div class="name">Технологии</div>
            <div class="value">
<!--                <input type="text" name="technologies" placeholder="Укажите технологии" value="<?=$technologies;?>"/>-->
                <?=$technologiesCheck;?>
            </div>
        </div>
        <div class="row">
            <div class="name">Статус <span class="red">*</span></div>
            <label class="value">
                <select required name="status">
                    <option value="1">Опубликовано</option>
                    <option value="0">Черновик</option>
                </select>
            </label>
        </div>
        <div class="row">
            <div class="name">Текст</div>
        </div>
        <div class="row">
            <div class="editor">
                <textarea name="text" id="editor"><?=$text;?></textarea>
            </div>
            <script>
                CKEDITOR.replace( 'editor' );
            </script>
        </div>
        <div class="row">
            <label class="value right">
                <input type="submit" value="Отправить" class="" name="submit" />
            </label>
        </div>
    </form>
</div>
<?=$save;?>

