<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title><?=$title;?><?=$addTitle;?></title>
    <meta name="description" content="<?=$description;?>" />
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap" rel="stylesheet">
    <link type="text/less" href="/css/less.less" rel="stylesheet/less" />
    <script src="/js/jquery.js" defer></script>
    <script src="/js/less.js" ></script>
    <script src="/js/js.js" defer></script>

    <!-- HIGHLIGHT -->
    <link type="text/css" rel="stylesheet" href="/js/syntaxhighlighter/styles/shCore.css">
    <link type="text/css" rel="stylesheet" href="/js/syntaxhighlighter/styles/shThemeDefault.css">
    <script type="text/javascript" src="/js/syntaxhighlighter/scripts/shCore.js"></script>
    <script type="text/javascript">
        SyntaxHighlighter.defaults['auto-links'] = false;
        // SyntaxHighlighter.defaults['collapse'] = true;
        SyntaxHighlighter.all();
    </script>
    <script type="text/javascript" src="/js/syntaxhighlighter/scripts/shBrushPhp.js"></script>
    <script type="text/javascript" src="/js/syntaxhighlighter/scripts/shBrushCss.js"></script>
    <script type="text/javascript" src="/js/syntaxhighlighter/scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="/js/syntaxhighlighter/scripts/shBrushXml.js"></script>
    <script type="text/javascript" src="/js/syntaxhighlighter/scripts/shBrushJava.js"></script>
    <script type="text/javascript" src="/js/syntaxhighlighter/scripts/shBrushPython.js"></script>
    <script type="text/javascript" src="/js/syntaxhighlighter/scripts/shBrushPowerShell.js"></script>
    <script type="text/javascript" src="/js/syntaxhighlighter/scripts/shBrushCss.js"></script>
    <script type="text/javascript" src="/js/syntaxhighlighter/scripts/shBrushBash.js"></script>
    <!-- HIGHLIGHT -->
</head>
<body>
<?=file_get_contents($_SERVER['DOCUMENT_ROOT']."/templates/slider-background.html");?>
<div class="center">
    <header>
        <div class="content">
            <div class="logo">
                <a href="/"><?=$company;?></a>
                <!--<div class="desc"><?=$desc;?></div>-->
            </div>
            <menu>
                <ul>
                    <?=$menu;?>
                </ul>
            </menu>
        </div>
    </header>
    <div class="contacts">
        <?=$submenu;?>
    </div>
    <main>