<a name="about"></a>
<div class="hello">
    <div class="hi">
        <?=$hello;?>
    </div>
    <div class="text">
        <?=$cv;?>
        <div class="links">
            <a href="/portfolio/">Портфолио</a> |
            <a href="/blog/">Блог</a> |
            <a href="https://github.com/allicen" target="_blank">GitHub</a>
        </div>
    </div>
    <div class="cats">
        <div class="border">
            <img src="/img/main.jpg">
        </div>
    </div>
</div>
<?=$out;?>
<div class="share">
    <div class="title"></div>
    <div class="header-block">
        <a name="share"></a>
        <?=$blogTitle;?>
    </div>
    <div class="submenu">
        <?=$blogCategory;?>
    </div>
    <?=$blogPreview;?>
    <div class="button">
        <a href="/blog/"><?=$goToBlog;?></a>
    </div>
</div>