<div class="gallery-background">
    <div class="gallery-shadow"></div>
    <div class="gallery-close"></div>
    <div class="big">
        <div class="left">
            <div class="prev">
                <div class="arrow-2-top"></div>
                <div class="arrow-2-bottom"></div>
            </div>
        </div>
        <div class="photo">
            <img src="#" alt="">
        </div>
        <div class="right">
            <div class="next">
                <div class="arrow-2-top"></div>
                <div class="arrow-2-bottom"></div>
            </div>
        </div>
    </div>
</div>